<?php

# Local site alias for virtual machine

# @{{ boxname }}.{{ local_alias_name }}
$aliases['{{ boxname }}.{{ local_alias_name }}'] = array(
  'root' => '/var/www/site/docroot',
  'uri' => '{{ webserver_hostname_alias }}',
  'path-aliases' => array(
    '%dump-dir' => '/var/www/site/drush-dumps',
  ),
);
